body{
    background-color:black;
}

.container h1{
    color: white;
    font-size: 2rem;
}

.container{
    border: 1px solid white;
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    border: 5px solid white;
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#count{
    font: size 9rem;
}